<div class="fondoLogin">
  <div class="header">
    <p>Servicio de Gestión de Tableros de Trabajo</p>
  </div>

  <div class="flex-container">
    ​
    <div class="logo">
      <img id="img_logo" src="assets/atos.png" />
    </div>

    <div class="loginNG">
      <form action="">
        <h4 id="das-text"><img id="user-icon" src="assets/person-icon.png" />DAS Login</h4>
        <input type="text" placeholder="Introduzca su DAS" name="username"> <br>
        <input type="password" placeholder="Introduzca su contraseña" name="password">
        <input type="submit" value="Enviar">
      </form>

    </div>


  </div>

  <div class="footer">
    <p>For internal use &#169; Atos S.E. 2017</p>
  </div>
</div>